* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
    font-family: Arial,Arial, Helvetica, sans-serif ;
    font-size: 15px;
}
section{
    background-color: #333;
    position: relative;
    height: 70px;
}
section div {
    color: #eee;
    font-size: 2em;
    font-weight: bold;
    font-family: cursive;
    position: absolute;
    top: 14px;
    left: 26px;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -ms-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
}
section div:hover {
    color: #009896;
}
section ul {
    width: 100%;
    position: absolute;
    top: 26px;
    left: 45%;
    display: flex;
}
section ul li {
    list-style-type: none;
    margin-right: 4vw;
}
section ul li a {
    color: rgb(238, 238, 238);
    text-decoration: none;
    font-size: 1.2em;
    border: none;
    transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
}
section ul li a:hover {
    color: #19dbd8;
    background-color: #eee;
    padding: 10px 5px;
    border-radius: 5px;
}
